a.logo {
    text-transform: uppercase;
    font-size: 160%;
}

h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}

h2.section_heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

article {
    margin: 0 2em;
}

/*------------------------------------------------NAV-------------------------------------------------------*/

.bg-dark {
    background-color: rgba(52, 58, 64, 0.7) !important;
}


/*------------------------------------------------/END NAV--------------------------------------------------*/

/* CAROUSEL */

.carousel-caption {
    bottom: 25%;
}

.carousel-caption h2 {
    color: rgb(255, 255, 255);
}

.btn {
    color: white;
    background-color: #198754;
}

.carousel-item {
    height: 100%;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
    -webkit-background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    background: black;
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#carousel h2 {
    color: rgb(255, 255, 255);
}

/* /carousel */

/* Membership */

div.row.membership {
    text-align: center;
    margin-top: 5%;
}

.member-circle {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-bg-left {
    height: 100%;
    right: 80px;
    background: url(../images/equipment.jpg) 0% 0% / cover;
    border-radius: 50%;
}

#circle-bg-center {
    height: 100%;
    right: 80px;
    background: url(../images/gym_coach.jpg) 0% 0% / cover;
    border-radius: 50%;
}

#circle-bg-right {
    height: 100%;
    right: 80px;
    background: url(../images/gym4.jpg) 0% 0% / cover;
    border-radius: 50%;
}

/* /membership */

/* About Section */

/*section {
    margin: 0 2em;
}*/


#about h2 {
    text-align: center;

}

hr.about {
    border-top: 1px solid rgb(33, 37, 41);
    width: 100%;
    margin: 5px 0;
}

.left-heading {
    float: right;
}

.right-heading {
    float: left;
}

.right-heading h3 {
    text-align: right;
}

.right-heading p {
    text-align: right;
}

#circle {
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-bg {
    background: url("../images/coach.jpg");
    background-size: cover;
    height: 100%;
    right: 80px;
    border-radius: 50%;

}

.featurette-divider {
    margin: 5rem auto;
    width: 80%;
}

@media screen and (max-width: 991px) {
    hr.about {
        width: 250px;
        height: 250px;
        display: none;
    }

    #about h3 {
        text-align: center;
    }

    #circle {
        width: 200px;
        height: 200px;
        padding: 10px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .left-heading h3 {
        text-align: left;
    }

    .right-heading h3 {
        text-align: right;
    }

    .right-heading p {
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    #circle {
        display: none;
    }

    left-heading h3,
    right-heading h3 {
        text-align: center;
    }

}

/* CLASSES */

.classes-background {
    background: rgb(255, 255, 255);
    opacity: 1;
}

.featurette-divider {
    margin: 2rem auto 2rem auto;
    width: 80%;
}

hr.featurette-divider.inner {
    color: transparent;
    margin: 3rem auto 2rem auto;
}


/*CONTACT*/

#contact {
    text-align: center;
}



/* FOOTER */

footer {
    background-color: rgba(52, 58, 64, 0.7) !important;
    padding: 1em;
    bottom: 0;
    right: 0;
    text-align: center;
}

footer span {
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 0.8rem;
}

footer p {
    color: white;
    margin-bottom: 0;
    margin-top: 1rem;
}


footer h5 {
    color: white;

}