@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/*---------------------------------------------/GLOBAL STYLES-----------------------------------------------*/
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
    font-family: 'Roboto', sans-serif;
}

h3 {
    letter-spacing: 4px;
    color: #555555;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}


h2.section_heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: bolder;
}

main {
    margin: 0 2em;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

hr.featurette-divider {
    margin-top: 2rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-right: auto;
    width: 100%;
}

/*-------------------------------------------/end global styles---------------------------------------------*/

/*------------------------------------------------NAV-------------------------------------------------------*/
.bg-dark {
    background-color: rgba(52, 58, 64, 0.7) !important;
}

#logo {
    text-transform: uppercase;
    font-size: 160%;
}

/*------------------------------------------------/end nav--------------------------------------------------*/

/*------------------------------------------------CAROUSEL--------------------------------------------------*/
.carousel-caption {
    bottom: 5rem;
}

.carousel-caption h2 {
    color: rgb(255, 255, 255);
}

.btn {
    color: white;
    background-color: #198754;
}

.carousel-item {
    height: 100%;
    min-height: 210px;
    width: 100%;
    min-width: 320px;
    background: no-repeat scroll center scroll;
    background-size: cover;
    -webkit-background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    background: black;
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#carousel h2 {
    color: rgb(255, 255, 255);
}

/*-------------------------------------------------/end carousel--------------------------------------------*/

/*-------------------------------------------------ABOUT----------------------------------------------------*/
#about h2 {
    text-align: center;
}

.left-heading {
    float: left;
    text-align: left
}

.right-heading {
    float: right;
    text-align: right
}

#circle {
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-bg {
    background: url("../images/gym2.jpg");
    background-size: cover;
    height: 100%;
    right: 80px;
    border-radius: 50%;

}

.btn-about {
    margin: 5px auto 0px auto;
}

@media screen and (max-width: 991px) {

    #circle {
        width: 180px;
        height: 180px;
        padding: 10px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {

    .left-heading,
    .right-heading {
        float: none;
        text-align: center;

    }

    #about p {
        float: none;
        text-align: center;
    }
}

/*-------------------------------------------------/end about-----------------------------------------------*/

/*-------------------------------------------------CLASSES--------------------------------------------------*/
.classes-background {
    background: rgb(255, 255, 255);
    opacity: 1;
}

.featurette-divider {
    margin: 2rem auto 2rem auto;
    width: 100%;
}

hr.featurette-divider.inner {
    visibility: hidden;
}

.btn-timetable {
    background-color: rgb(233, 74, 12) !important;
}

/*-------------------------------------------------/end classes---------------------------------------------*/

/*-------------------------------------------------MEMBERSHIP-----------------------------------------------*/
div.row.membership {
    text-align: center;
    margin-top: 0px;
}

.member-circle {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-bg-left {
    height: 100%;
    right: 80px;
    background: url(../images/pay&go.jpg) 0% 0% / cover;
    /*Photo by Luis Felipe Lins on Unsplash*/
    border-radius: 50%;
}

#circle-bg-center {
    height: 100%;
    right: 80px;
    background: url(../images/regular.jpg) 0% 0% / cover;
    /*Photo by Victor Freitas on Unsplash*/
    border-radius: 50%;
}

#circle-bg-right {
    height: 100%;
    right: 80px;
    background: url(../images/students.jpg) 0% 0% / cover;
    /*Photo by Xiaolong Wong on Unsplash*/
    border-radius: 50%;
}

@media screen and (max-width: 991px) {

    .member-circle {
        width: 180px;
        height: 180px;
        padding: 8px;
        border-radius: 50%;
        margin: 0 auto;
    }
}

/*----------------------------------------------/end membership---------------------------------------------*/

/*-------------------------------------------------CONTACT--------------------------------------------------*/
#contact {
    text-align: left;
}

@media screen and (max-width: 425px) {

    #contact {
        font-size: 75%;
    }
}

iframe {
    width: 100%;
}

/*-------------------------------------------------/end contact---------------------------------------------*/

/*----------------------------------------------------FOOTER------------------------------------------------*/
footer {
    background-color: rgba(52, 58, 64, 0.7);
    padding: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

footer p {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

footer div.col-4 {
    margin-top: 10px;
}

footer span {
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 0.8rem;
}

/*-------------------------------------------------/end footer---------------------------------------------*/