/* CAROUSEL */

.carousel-caption {
    bottom: 25%;
}

.btn {
    color: white;
    background-color: #198754;
}

.carousel-item {
    height: 100%;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
    -webkit-background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    background: black;
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* About Section */
#about {
    height: 600px;
}

#left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid rgb(33, 37, 41);
    width: 100%;
    margin: 5px 0;
}

.left-heading,
.right-heading {
    width: 50%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-heading {
    float: right;
}

.right-heading {
    float: left;
}

.right-heading h2 {
    text-align: right;
}

.right-heading p {
    text-align: right;
}

#reasons {
    text-align: center;
    margin: 50px 0;
    font-size: 300%;
}

#circle {
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    margin: 0 auto;

}

#circle-bg {
    background: url("../images/gym4.jpg");
    background-size: cover;
    height: 100%;
    right: 80px;
    border-radius: 50%;

}